{% extends 'base.html' %}

{% block content %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-light px-4 mb-5" style="background-color: #6C9A92;">
      <img src="https://cdn-icons-png.flaticon.com/24/2767/2767003.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        <span class="navbar-brand mb-0 h1 font-monospace">{{user}}'s Todolist</span>
        <form action="{% url 'todolist:logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-danger font-monospace">Logout</button>
        </form>
    </nav>


    <div class="row row-cols-1 row-cols-md-3 g-4" id="cards">
    {% for todo in todo %}
      <div class="col">
        <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{todo.title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Date Created: {{todo.date}}</h6>
          <p class="card-text">{{todo.description}}</p>
        </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <a class="btn btn-success ont-monospace col-xl-10 offset-xl-1 mt-4"" href="{% url 'todolist:show_create_page' %}">Add Task</a>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>

<style>
  body {
    background-color: #E0E6D7;
} 
</style>

{% endblock content %}

